:root{
    --main-color:#ffa600;
    --sub-main-color:#ffbe00;
    --sub-color:#ffd900;
    --white-color: #ffffff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color:#ffa600;
    --red-color: #ff3333;

    --header-hight: 120px;
    --navbar-hight: 34px;
    --header-with-search-height: calc(var(--header-hight) - var(--navbar-hight));
    --header-sort-bar-height: 46px;
}

*{
    box-sizing: inherit; /* kế thừa lại những thẻ chứa nó */
}

html{
    /*HACK*/
    font-size: 62.5%; /*tương ứng 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif; /* sans-serif: họ chữ ko chân*/
    box-sizing: border-box;
}

/* Responsive */

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}


/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%
}


/*Animation*/
@keyframes fadeIn {
    from{
        opacity: 0;

    }

    to{
        opacity: 1;

    }
}

@keyframes fadeIn2 {
    from{
        opacity: 0;
        top:calc(100% + 20px) ;
    }

    to{
        opacity: 1;
        top:calc(100% + 5px) ;
    }
}

@keyframes fadeIn3 {
    from{
        opacity: 0;
        top:calc(100% + 2px) ;
    }

    to{
        opacity: 1;
        top:calc(100% - 8px) ;
    }
}


@keyframes growth {
    from{
       transform: scale(var(--growth-from));
    }

    to{
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal{
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
}

.modal__body{
    --growth-from: 0.5;
    --growth-to:1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s ;
}

/*button style*/
.btn{
    min-width: 90px;
    height: 34px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 12px;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}

.btn.btn--normal:hover{
    background-color: rgba(0,0,0,0.1);
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--main-color);
}

.btn.btn--disabled{
    cursor: default;
    /*filter: brightness(80%); /* chỉnh độ sáng */
    color: #949494;
    background-color: #c3c3c3;
}

.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

/* Selection */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px #bbbbbb;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
    color: #888888;
    position: relative;
    top: 2px;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 8px);
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
    animation: fadeIn3 ease-out 0.3s;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
}

.select-input__list::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top:-3px;    
    right: 0px;
}


.select-input__link{
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: var(--main-color);
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input:hover .select-input__icon{
    color: var(--text-color)
}

/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item{
    margin: 0 10px;
}

.pagination-item--active .pagination-item__link{
        background-color: var(--main-color);
        color: var(--white-color);
}

.pagination-item__link{
    --height:30px;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: #777777;
    min-width:40px ;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}

.pagination-item--active .pagination-item__link:hover{
    filter: brightness(110%);
}

.pagination-item__icon:hover{
    transform: scale(1.4);
    will-change: transform;
    color: var(--black-color);
}



